<div *ngFor="let article of articles" class="article">
  <section class="article_image-container">
    <img class="article_image" src="{{article.urlToImage}}">
  </section>
  <div class="article_info">
    <div class="info_source-name">{{article.source.name}}</div>
    <div class="info_date"> {{article.publishedAt}}</div>
    <h3 class="info_title">{{article.title}}</h3>
    <p class="info_context">
      {{article.content}}
    </p>
    <a class="info_link" href="{{article.url}" target="_blank">
      Read More
    </a>
    <div>
      <button id="editButton" routerLink="/{{article.id}}/edit">Edit</button>
      <button id="deleteButton" (click)=deleteArticle(article.id)>Delete</button>
    </div>
  </div>
</div>
