@import './loader.scss';

$bg-color: #f3f3f3d6;
$border-color: #e5e2e2d6;
$shadow: 1px -1px 8px 0px rgba(166, 161, 166, 0.63);
$primary-font: 'Courier New',
Courier,
monospace;

html,
body {
  height: 100%;
  font-family: $primary-font
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #111111;
}

a:hover {
  color: #6b6767d6;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header_menu {
  width: 100%;
  border-radius: 20px;
  border: solid 1px $border-color;
  background-color: $bg-color;
  margin-top: 10px;
  box-shadow: $shadow;
  display: flex;
  justify-content: space-between;
}

.menu_country-list {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}

.menu_search {
  padding: 15px;
  margin-right: 20px;
}

.search_input {
  border-radius: 20px;
  border: solid 1px $border-color;
  background-color: $bg-color;
  font-family: $primary-font;
  width: 250px;
  height: 30px;
  text-align: center;

  &:focus {
    outline: 0;
    box-shadow: $shadow;
    color: #6b6767d6;
  }

  &:hover {
    box-shadow: $shadow;
    color: #6b6767d6;
  }
}

.search_button {
  border-radius: 20px;
  border: solid 1px $border-color;
  background-color: $bg-color;
  font-family: $primary-font;
  width: 80px;
  height: 30px;

  &:focus {
    outline: 0;
  }

  &:hover {
    box-shadow: $shadow;
    color: #6b6767d6;
    cursor: pointer;
  }
}

.country-list_item {
  margin: 0 10px;
  list-style-type: none;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 5px;
}


.header_title {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  padding: 20px;
  box-sizing: border-box;
  background-image: url(../img/header.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  line-height: 200px;
  box-shadow: $shadow;
}

.title {
  font-family: 'Monoton', cursive;
  font-size: 30px;
  color: #ffffff;
  word-spacing: 30px;
}

.news-container {
  width: 100%;
  border: solid 1px $border-color;
  margin-top: 10px;
  border-radius: 20px;
  background-color: $bg-color;
  box-shadow: $shadow;
  flex: 1 0 auto;
  position: relative;
  min-height: 50px;
}

#news-list {
  box-sizing: border-box;
  padding: 0 20px;
  list-style-type: none;
}

.article {
  border-radius: 20px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  padding: 20px;

  &:hover {
    border: solid 1px $border-color;
    box-shadow: $shadow;
  }
}

.article_image-container {
  width: 30%;
  display: flex;
  align-items: center;
}

.article_image {
  width: 350px;
  border-radius: 20px;
}

.article_info {
  width: 60%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.info_title {
  font-size: 26px;
  font-weight: bold;
}

.info_context {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info_link {
  text-decoration: none;
  font-size: 18px;
}

.info_date,
.info_source-name {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
}

.footer {
  width: 100%;
  height: 30px;
  flex: 0 0 auto;
  border: solid 1px $border-color;
  border-radius: 20px;
  margin: 10px 0;
  text-align: center;
  line-height: 30px;
  background-color: $bg-color;
  box-shadow: $shadow;
}

.get-news-button {
  display: block;
  border-radius: 20px;
  width: 200px;
  background-color: $bg-color;
  border: solid 1px $border-color;
  cursor: pointer;
  font-family: $primary-font;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;

  &:hover {
    box-shadow: $shadow;
    color: #6b6767d6;
  }

  &:focus {
    outline: 0;
  }
}

.non-visible {
  display: none;
}

@media(max-width: 320px) {
  .menu_country-list {
    justify-content: space-around;
  }

  .article_image-container {
    display: none;
  }

  .article_info {
    width: 100%;
  }

  .info_title {
    font-size: 40px;
  }

  .info_context {
    font-size: 36px;
  }

  .info_link {
    font-size: 36px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .menu_country-list {
    justify-content: space-around;
  }

  .info_title {
    font-size: 32px;
  }

  .info_context {
    font-size: 26px;
  }

  .info_link {
    font-size: 26px;
  }
}
