<header class="header_menu">

  <div class="logo">
    <a routerLink="/" >News</a>
  </div>

  <div>
    Source
  </div>

  <div>
    <div>
      <select>
        <option>USA</option>
        <option>RUS</option>
        <option>GB</option>
      </select>
    </div>

    <div class="menu_search">
      <input type="text" id="search-input" class="search_input" placeholder="Find your news">
      <button id="search-button" class="search_button">
        Search
      </button>
    </div>

    <div>
      <input type="checkbox" name="users-articles">
      <label for="users-articles">Only created by me</label>
    </div>

    <button routerLink="/add-new-article">
      Add Article
    </button>

  </div>
</header>
